<!--h2>Edit <%#= resource_name.to_s.humanize %></h2-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="min-h-full flex items-center justify-center bg-gray-50 pt-28 pb-6 px-4 sm:px-6 lg:px-8">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h2 class="mb-8 text-3xl font-bold heading text-center">Edit <%= resource_name.to_s.humanize %></h2>

        <div>
          <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mt-4">
          <%= f.label :password, class: "block text-sm font-medium text-gray-700" %> <i class="text-sm font-medium text-gray-700">(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
          <% if @minimum_password_length %>
            <em class="text-sm font-medium text-gray-700"><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="mt-4">
          <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="mt-4">
          <%= f.label :current_password, class: "block text-sm font-medium text-gray-700" %> <i class="text-sm font-medium text-gray-700">(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>

        <div class="actions mt-6">
          <%= f.submit "Update", class: "roup relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>

        <div class="flex justify-between items-center mt-3">
          <p class="text-sm font-medium text-gray-700">Unhappy? </p>
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "bg-white font-medium text-red-500 hover:text-red-600" %>
        </div>
      </div>
    </div>    
  </div>

  
<% end %>


<%#= link_to "Back", :back %>
