<!--h2>Forgot your password?</h2-->

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="min-h-full flex items-center justify-center bg-gray-50 pt-28 pb-6 px-4 sm:px-6 lg:px-8">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h2 class="mb-8 text-2xl font-bold heading text-center">Change your password</h2>
          <div>
		    <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
		  </div>

		  <div class="actions mt-6">
		    <%= f.submit "Send me reset password instructions", class: "roup relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
		  </div>
      </div>
    </div>
  </div> 

<% end %>

<%#= render "devise/shared/links" %>
