<!--p id="notice"><%= notice %></p-->
<%#= render "shared/flash_notice" %>

<h1 class="py-2 text-3xl text-gary-900 font-bold">Papunesias</h1>

<!--div class="load-ajax" style="float: right; width: 150px; height: 20px; background-position: center;
    background-repeat: no-repeat;">xxxxxxxxxxxx</div-->

<%= form_tag papuas_path, :method => 'get', :id => "papuas_search" do %>
<div class="min-w-full ">
  <div class="items-center block w-full mt-2 text-center lg:flex lg:flex-row lg:flex-1 lg:mt-0 lg:text-left justify-between">
    <!--input type="text" id="myInput" onkeyup="myFunction(7)" placeholder="Search Inventory" title="Type in inventories" class="focus:ring-indigo-500 focus:border-indigo-500 block w-1/4 shadow-sm sm:text-sm border-gray-300 rounded-md"-->

    
    
    <%#= render 'shared/searchbar' %>
    
    
    
    <%#= link_to 'New Product', new_papua_path, class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    
  </div>

  <!-- <div class="flex justify-center space-x-4 text-lg font-medium text-gray-900">
    <div>
      <p>
        Results: <%= @papuas_results.size %>
      </p>
    </div>
    <div>
      <P>
        Total: <%= @papuas_all_size %>
      </p>
    </div>
  </div> -->

  <!--div id='map' style='width: 100%; height: 600px;'></div-->
  <div class="map" id='map' style='width: 100%; height: 600px;'>
    <%= render 'maps', papuas_results: @papuas, papuas_other: @papuas_other %>
  </div>


  <div class="charts py-5 flex items-center justify-between float-none" id="charts">
    
    <%= render 'charts' %>

  </div>


  <!-- <div class="mt-3 bg-white py-3 flex items-center justify-between border-t border-gray-200">
    <div id="page_entries_info">
      <%#= render 'page_entries_info', papuas: @search.papuas, papuas_other: @search.papuas_other %>
    </div>
    <%#= render 'shared/searchbar' %>
  </div> -->

  <div class="py-4 flex items-center justify-between">
    <div class="flex">
      <!-- advanced search -->
      <%= link_to "Advanced Search", new_search_path, class: "items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-center w-48" %>

      <!-- add new language -->
      <% if user_signed_in? && current_user.admin? %>
        <a href="<%= new_papua_path(@papua) %>">
          <span class="hidden sm:block">
            <button type="button" class="ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              New Language
            </button>  
          </span>
        </a>
      <% end %> 
    </div>

    <div class="">
      <%= link_to "Download all Papunesias: Excel", 
        papuas_path({:format => "xls"}),
        download: 'Papunesias.xls', class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
    </div>
  </div>


  <!-- result table   -->
  <%= render 'papuas', papuas: @papuas %>

  <div class="text-center px-4 py-6 text-lg text-gray-700 font-medium">
    The rest 
    <span class="font-semibold text-blue-700 text-2xl"> <%= @papuas_other.size %> </span>
    languages
  </div>

  <%= render 'papuas_rest', papuas: @papuas_other %>

<!-- <div class="align-middle inline-block min-w-full" id="rest_table">
  <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
      
    <table id="myTable2" class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50 divide-y divide-gray-200">
        <tr class="h-12">
            <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <%#= sortable "no" %>
              No
            </th>

            <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <p>Language</p>
            </th>

            <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Language Family
            </th>

            <th scope="col" class="px-2 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              ISO
            </th>

            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Country
            </th>

            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Inventory
            </th>

            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <p>C</p>
            </th>

            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <p>V</p>
            </th>

            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <p>Total</p>
            </th>
        </tr>
        <tr>
            <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              
            </th>

            <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <input type="text" id="search_language" name="search_language" class="focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md w-28">
            </th>

            <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <input type="text" id="search_family" name="search_family" class="focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md w-32">
            </th>

            <th scope="col" class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <input type="text" id="search_iso" name="search_iso" class="focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md w-12">
            </th>

            <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <input type="text" id="search_country" name="search_country" class="focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md w-20">
            </th>

            <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <input type="text" id="search_inv" name="search_inv" class="focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md w-80">
            </th>

            <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="flex rounded-md shadow-sm">
                <span class="inline-flex items-center">
                  <select id="select_c" name="select_c" class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-gray-300 bg-transparent text-gray-500 sm:text-sm rounded-l-md">
                    <option value="gte"> >= </option>
                    <option value="gt"> > </option>
                    <option value="eq" selected> = </option>
                    <option value="lt"> < </option>
                    <option value="lte"> <= </option>
                  </select>
                </span>
                <input type="text" id="search_c" name="search_c" class="focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-none rounded-r-md w-14">
              </div>
            </th>

            <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="flex rounded-md shadow-sm">
                <span class="inline-flex items-center">
                  <select id="select_v" name="select_v" class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-gray-300 bg-transparent text-gray-500 sm:text-sm rounded-l-md">
                    <option value="gte"> >= </option>
                    <option value="gt"> > </option>
                    <option value="eq" selected> = </option>
                    <option value="lt"> < </option>
                    <option value="lte"> <= </option>
                  </select>
                </span>
                <input type="text" id="search_v" name="search_v" class="focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-none rounded-r-md w-14">
              </div>
            </th>

            <th scope="col" class="px-3 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="flex rounded-md shadow-sm">
                <span class="inline-flex items-center">
                  <select id="select_cv" name="select_cv" class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-gray-300 bg-transparent text-gray-500 sm:text-sm rounded-l-md">
                    <option value="gte"> >= </option>
                    <option value="gt"> > </option>
                    <option value="eq" selected> = </option>
                    <option value="lt"> < </option>
                    <option value="lte"> <= </option>
                  </select>
                </span>
                <input type="text" id="search_cv" name="search_cv" class="focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-none rounded-r-md w-14">
              </div>
            </th>
        </tr>
    </thead>
    <tbody class="bg-blue-50 divide-y divide-gray-200">
      <%#= render 'papuas', papuas: @papuas_other %>
    </tbody>
    
    </table>
    </div>
  </div>
</div> -->
 

  <!--div class="mt-3 bg-white py-3 flex items-center justify-between border-t border-gray-200">
    <div id="page_entries_info"><%#= render 'page_entries_info' %></div>
    <div id="paginator"><%#= paginate @papuas, remote: true %></div>
  </div-->  
   

  <!--div class="bg-white py-3 flex items-center justify-end border-t border-gray-200">
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
      <div>
          <p class="text-sm text-gray-700">
            Showing
            <%# if @papuas.length == 0 %>
              <span class="font-medium"><%#= @papuas.offset_value %></span>
              of
              <span class="font-medium"> <%#= @papuas.total_count %> </span>
              results
              <%# else %>
              <span class="font-medium"><%#= @papuas.offset_value + 1 %></span>
              to
              <span class="font-medium"><%#= @papuas.offset_value + @papuas.length %></span>
              of
              <span class="font-medium"> <%#= @papuas.total_count %> </span>
              results
            <%# end %>  
          </p>
        </div>

        <div id="paginator">
          <%#= paginate @papuas, remote: true %>
        </div>

    </div>
  </div-->

<script>
  function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        dir = "asc";
        while(switching){
            switching = false;
            rows = table.getElementsByTagName("TR");
            for(i=1; i<(rows.length - 1);i++){
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i+1].getElementsByTagName("TD")[n];
                if(dir == "asc"){
                    if(x.innerHTML.toLowerCase() >  y.innerHTML.toLowerCase()){
                        shouldSwitch = true;
                        break;
                    }  
                }else if (dir == "desc"){
                    if(x.innerHTML.toLowerCase() <  y.innerHTML.toLowerCase()){
                        shouldSwitch = true;
                        break;
                    }  
                }
            }
            if(shouldSwitch){
                rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
                switching = true;
                switchcount++;
            }else{
                if(switchcount == 0 && dir == "asc"){
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    /*
    function myFunction(n) {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase().replace(/\W/g, ' ').replace(/\s+/g, ' ').trim().split(' ');

      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[n]; //7th Column
        if (td) {
          txtValue = td.textContent || td.innerText;
          for(j = 0; j < filter.length; j++){
            if (txtValue.toUpperCase().indexOf(filter[j]) > -1) {
              tr[i].style.display = "";
            }
            else {
              tr[i].style.display = "none";
              break;
            }
          }
          /*if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }*/
    
</script>
<% end %>