<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">No.</Data></Cell>
        <Cell><Data ss:Type="String">Language</Data></Cell>
        <Cell><Data ss:Type="String">Language Family</Data></Cell>
        <Cell><Data ss:Type="String">ISO</Data></Cell>
        <Cell><Data ss:Type="String">Country</Data></Cell>
        <Cell><Data ss:Type="String">Latitude</Data></Cell>
        <Cell><Data ss:Type="String">Longitude</Data></Cell>
        <Cell><Data ss:Type="String">Inventories</Data></Cell>
      </Row>
    <% @papuas.each do |papua| %>
      <Row>
        <Cell><Data ss:Type="String"><%= papua.no %></Data></Cell>
        <Cell><Data ss:Type="String"><%= papua.language_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= papua.language_family %></Data></Cell>
        <Cell><Data ss:Type="String"><%= papua.iso %></Data></Cell>
        <Cell><Data ss:Type="String"><%= papua.country %></Data></Cell>
        <Cell><Data ss:Type="String"><%= papua.latitude %></Data></Cell>
        <Cell><Data ss:Type="String"><%= papua.longitude %></Data></Cell>
        <Cell><Data ss:Type="String"><%= papua.inv %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>