<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @papua.language_name %>
</p>

<p>
  <strong>Language family:</strong>
  <%= @papua.language_family %>
</p>

<p>
  <strong>ISO:</strong>
  <span class="px-4 inline-flex text-sm leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">
    <a href="https://iso639-3.sil.org/code/<%= @papua.iso.to_s %>" target="_blank" class="text-blue-600"><%= @papua.iso %></a>
  </span>
</p>

<p>
  <strong>Country:</strong>
  <%= @papua.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @papua.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @papua.longitude %>
</p>

<p>
  <strong>Inventories(<%= @papua.inv.split(",").size %>):</strong>
  <%= @papua.inv %>
</p>

<p>
  <strong>Consonants(<%= @papua.consonants.split(",").size %>):</strong>
  <% @seg_no.each do |k,v| %>
    <span class="px-4 inline-flex text-sm leading-5 font-semibold rounded-full bg-green-100 text-green-800">
      <a href="/segments/<%= v.to_s %>" target="_blank" class=""><%= "#{k}" %></a>
    </span>
  <% end %>
</p>

<p>
  <strong>Vowels(<%= @papua.vowels.split(",").size %>):</strong>
  <%= @papua.vowels %>
</p>

<% if @papua.diphthongs.size > 0 %>
  <p>
    <strong>Diphthongs(<%= @papua.diphthongs.split(",").size %>):</strong>
    <%= @papua.diphthongs %>
  </p>
<% end %>


<%= link_to 'Edit', edit_papua_path(@papua) %> |
<%= link_to 'Back', papuas_path %>
