<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @papua.language_name %>
</p>

<p>
  <strong>Language family:</strong>
  <%= @papua.language_family %>
</p>

<p>
  <strong>Iso:</strong>
  <a href="https://iso639-3.sil.org/code/<%= @papua.iso.to_s %>" target="_blank" class="text-blue-600"><%= @papua.iso %></a>
</p>

<p>
  <strong>Country:</strong>
  <%= @papua.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @papua.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @papua.longitude %>
</p>

<p>
  <strong>Inv:</strong>
  <%= @papua.inv %>
</p>

<p>
  <strong>Consonants:</strong>
  <% @seg_no.each do |k,v| %>
    <a href="/segments/<%= v.to_s %>" target="_blank" class="text-blue-600"><%= "#{k} " %></a>
  <% end %>
</p>

<p>
  <strong>Vowels:</strong>
  <%= @papua.vowels %>
</p>

<% if @papua.diphthongs.length > 0 %>
  <p>
    <strong>Diphthongs:</strong>
    <%= @papua.diphthongs %>
  </p>
<% end %>


<%= link_to 'Edit', edit_papua_path(@papua) %> |
<%= link_to 'Back', papuas_path %>
