<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @papua.language %>
</p>

<p>
  <strong>Language family:</strong>
  <%= @papua.language_family %>
</p>

<p>
  <strong>Iso:</strong>
  <%= @papua.iso %>
</p>

<p>
  <strong>Country:</strong>
  <%= @papua.country %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @papua.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @papua.longitude %>
</p>

<p>
  <strong>Inv:</strong>
  <%= @papua.inv %>
</p>

<%= link_to 'Edit', edit_papua_path(@papua) %> |
<%= link_to 'Back', papuas_path %>
