<%= form_tag papuas_path, :method => 'get', :id => "phonemes_search" do %>
<div id="chooser" class="mt-5">
	<div>
		<span f="-1" class="mb-2 items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-center w-28">Reset</span>
	</div>
	<div class="align-middle inline-block min-w-full text-sm" id="phonemes_table">
		<div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
			<table id="myTable5" class="table-fixed min-w-full divide-y divide-gray-200 font-mono ">
				<tbody class="bg-white divide-y divide-gray-200">
					<tr class="divide-x divide-gray-200">
						<td class="px-2 py-2 whitespace-pre-line">Consonants</td>
						<% for cName in Search::COLNAMES %>
							<td class="px-2 py-2 whitespace-pre-line"><%= cName %></td>
						<% end %>
					</tr>
					<% for rName in Search::ROWNAMES %>
						<tr class="divide-x divide-gray-200">
							<td class="px-2 py-2 whitespace-pre-line"><%= rName %></td>
							<% for i in 1..Search::COLNAMES.size %>
								<td class="px-2 py-2 whitespace-pre-line text-base font-sans"></td>
							<% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


<div>
	<%#= text_field_tag :inv, params[:inv], id: "query" %>
	<%= submit_tag "Submit", :style => "display: none;", remote: true %>
	<p id="results"></p>
</div>



<div class="mt-3 bg-white py-3 flex items-center justify-between border-t border-gray-200">
    <div id="page_entries_info">
    	<%= render 'papuas/page_entries_info', papuas: @search.papuas, papuas_other: @search.papuas_other %>
    </div> 
</div>

<div id="papuas_results"><%= render 'papuas/papuas', papuas: @search.papuas %></div>
  
<div class="text-center px-4 py-6 text-lg text-gray-700 font-medium">
  The rest
  <span class="font-semibold text-blue-700 text-2xl"> <%= @search.papuas_other.size %> </span>
  languages
</div>

<div id="papuas_rest" class="px-4"><%= render 'papuas/papuas_rest', papuas: @search.papuas_other %></div>

<% end %>