<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Product Information</h3>
          <!--p class="mt-1 text-sm text-gray-600">
            Use a permanent address where you can receive mail.
          </p-->
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <!--form action="#" method="POST"-->
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white sm:p-6">
              <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-3">
                  <%= form.label :product_name, "Product name", class: "block text-sm font-medium text-gray-700" %>
                  <%= form.text_field :product_name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <%= form.label :color, "Color", class: "block text-sm font-medium text-gray-700" %>
                  <%= form.text_field :color, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <%= form.label :brand, "Brand", class: "block text-sm font-medium text-gray-700" %>
                  <%= form.text_field :brand, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-3">
                  <%= form.label :category, "Category", class: "block text-sm font-medium text-gray-700" %>
                  <%= form.select :category, Product::CATEGORY, {}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"} %>
                </div>

                <div class="col-span-6">
                  <%= form.label :description, "Description", class: "block text-sm font-medium text-gray-700" %>
                  <div class="mt-1">
                    <%= form.text_area :description, rows: 6, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md" %>
                  </div>
                  <p class="mt-2 text-sm text-gray-500">
                    Brief description for the product. URLs are hyperlinked.
                  </p>
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                  <%= form.label :ean, "EAN", class: "block text-sm font-medium text-gray-700" %>
                  <%= form.text_field :ean, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <%= form.label :vender_sku, "Vender SKU", class: "block text-sm font-medium text-gray-700" %>
                  <%= form.text_field :vender_sku, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                  <%= form.label :sps_sku, "SPS SKU", class: "block text-sm font-medium text-gray-700" %>
                  <%= form.text_field :sps_sku, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-6 lg:col-span-2 mt-1">
                  <%= form.label :fob_usd, "FOB USD", class: "block text-sm font-medium text-gray-700" %>
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <span class="text-gray-500 sm:text-sm">
                        $
                      </span>
                    </div>
                    <%= form.text_field :fob_usd, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2 mt-1">
                  <%= form.label :fob_aud, "FOB AUD", class: "block text-sm font-medium text-gray-700" %>
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <span class="text-gray-500 sm:text-sm">
                        $
                      </span>
                    </div>
                    <%= form.text_field :fob_aud, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-2 mt-1">
                  <%= form.label :retail_price, "Retail Price", class: "block text-sm font-medium text-gray-700" %>
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <span class="text-gray-500 sm:text-sm">
                        $
                      </span>
                    </div>
                    <%= form.text_field :retail_price, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3 mt-1">
                  <%= form.label :margin_rate, "Margin rate", class: "block text-sm font-medium text-gray-700" %>
                  <%= form.text_field :margin_rate, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3 mt-1">
                  <%= form.label :channel_buy_price_egst, "Channel buy price (excl GST)", class: "block text-sm font-medium text-gray-700" %>
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <span class="text-gray-500 sm:text-sm">
                        $
                      </span>
                    </div>
                    <%= form.text_field :channel_buy_price_egst, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3 mt-1">
                  <%= form.label :channel_mkt_rebate_egst, "Channel MKT rebate (excl GST)", class: "block text-sm font-medium text-gray-700" %>
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <span class="text-gray-500 sm:text-sm">
                        $
                      </span>
                    </div>
                    <%= form.text_field :channel_mkt_rebate_egst, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
                  </div>
                </div>

                <div class="col-span-6 sm:col-span-3 lg:col-span-3 mt-1">
                  <%= form.label :total_profit, "Total profit", class: "block text-sm font-medium text-gray-700" %>
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <span class="text-gray-500 sm:text-sm">
                        $
                      </span>
                    </div>
                    <%= form.text_field :total_profit, class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md" %>
                  </div>
                </div>

              </div>
            </div>
            <!--div class="actions px-4 py-3 bg-gray-50 text-right sm:px-6">
              <%= form.submit class: "btn inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            </div>
          </div-->
        <!--/form-->
      </div>
    </div>
  </div>

  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <div class="mt-10 sm:mt-0">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-900">Certificates</h3>
          <p class="mt-1 text-sm text-gray-600">
            Decide which certification it has passed.
          </p>
        </div>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <!--form action="#" method="POST"-->
          <div class="shadow overflow-hidden sm:rounded-md">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
              <fieldset>
                <!--legend class="text-base font-medium text-gray-900">By Email</legend-->
                <div class="mt-4 space-y-4">
                  <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <%= form.check_box :saa, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
                    </div>
                    <div class="ml-3 text-sm">
                      <%= form.label :saa, "SAA", class: "font-medium text-gray-700" %>
                      <p class="text-gray-500">SAA Approvals is accredited by the Joint Accreditation Service of Australia and New Zealand (JAS-ANZ). </p>
                    </div>
                  </div>

                  <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <%= form.check_box :rcm, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
                    </div>
                    <div class="ml-3 text-sm">
                      <%= form.label :rcm, "RCM", class: "font-medium text-gray-700" %>
                      <p class="text-gray-500">The Regulatory Compliance Mark (RCM) is a trade mark owned by the electrical regulator (Regulatory Authorities (RAs)) and Australian Communications Media Authority (ACMA).</p>
                    </div>
                  </div>

                  <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <%= form.check_box :ce, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
                    </div>
                    <div class="ml-3 text-sm">
                      <%= form.label :ce, "CE", class: "font-medium text-gray-700" %>
                      <p class="text-gray-500">CE Australia is the preferred independent supplier to many Original Equipment Manufacturers (OEM) and Contract Equipment Manufacturers (CEM) Australia wide.</p>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <div>
                  <legend class="text-base font-medium text-gray-900">Activity</legend>
                  <p class="text-sm text-gray-500">These are delivered via SMS to your mobile phone.</p>
                </div>
                <div class="mt-4 space-y-4">
                  <div class="flex items-start">
                    <div class="flex items-center h-5">
                      <%= form.check_box :active, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
                    </div>
                    <div class="ml-3 text-sm">
                      <%= form.label :active, "Active", class: "font-medium text-gray-700" %>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="actions px-4 py-3 bg-gray-50 text-right sm:px-6">
              <%= form.submit class: "btn inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
            </div>
          </div>
        <!--/form-->
      </div>
    </div>
  </div>


  <!--div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, collection: Product::CATEGORY, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :ean %>
    <%= form.text_field :ean %>
  </div>

  <div class="field">
    <%= form.label :vender_sku %>
    <%= form.text_field :vender_sku %>
  </div>

  <div class="field">
    <%= form.label :sps_sku %>
    <%= form.text_field :sps_sku %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :fob_usd %>
    <%= form.text_field :fob_usd %>
  </div>

  <div class="field">
    <%= form.label :fob_aud %>
    <%= form.text_field :fob_aud %>
  </div>

  <div class="field">
    <%= form.label :margin_rate %>
    <%= form.text_field :margin_rate %>
  </div>

  <div class="field">
    <%= form.label :total_profit %>
    <%= form.text_field :total_profit %>
  </div>

  <div class="field">
    <%= form.label :retail_price %>
    <%= form.text_field :retail_price %>
  </div>

  <div class="field">
    <%= form.label :channel_buy_price_egst %>
    <%= form.text_field :channel_buy_price_egst %>
  </div>

  <div class="field">
    <%= form.label :channel_mkt_rebate_egst %>
    <%= form.text_field :channel_mkt_rebate_egst %>
  </div>

  <div class="field">
    <%= form.label :saa %>
    <%= form.check_box :saa %>
  </div>

  <div class="field">
    <%= form.label :rcm %>
    <%= form.check_box :rcm %>
  </div>

  <div class="field">
    <%= form.label :ce %>
    <%= form.check_box :ce %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div-->
<% end %>
