<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Ean:</strong>
  <%= @product.ean %>
</p>

<p>
  <strong>Vender sku:</strong>
  <%= @product.vender_sku %>
</p>

<p>
  <strong>Sps sku:</strong>
  <%= @product.sps_sku %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Fob usd:</strong>
  <%= @product.fob_usd %>
</p>

<p>
  <strong>Fob aud:</strong>
  <%= @product.fob_aud %>
</p>

<p>
  <strong>Margin rate:</strong>
  <%= @product.margin_rate %>
</p>

<p>
  <strong>Total profit:</strong>
  <%= @product.total_profit %>
</p>

<p>
  <strong>Retail price:</strong>
  <%= @product.retail_price %>
</p>

<p>
  <strong>Channel buy price:</strong>
  <%= @product.channel_buy_price_egst %>
</p>

<p>
  <strong>Channel mkt rebate:</strong>
  <%= @product.channel_mkt_rebate_egst %>
</p>

<p>
  <strong>Saa:</strong>
  <%= @product.saa %>
</p>

<p>
  <strong>Rcm:</strong>
  <%= @product.rcm %>
</p>

<p>
  <strong>Ce:</strong>
  <%= @product.ce %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
