<!DOCTYPE html>
<html class="antialiased">
  <%= render "shared/head" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>



  <header class="w-full fixed">

  </header>

  <body class="font-mono">    
    <%= render "shared/nav" %>
    <div class="pt-16">
      <%= render "shared/flash_notice" %>
    </div> 
    
    <div class="px-4 lg:px-10">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
  <%#= content_for?(:content) ? yield(:content) : yield %>

  <%#= yield %>

</html>
